<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-5">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h3 class="text-light">Edit New <%= user.name %></h3>
        </div>
        <div class="card-body p-4">
          <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control fomr-control-lg" placeholder="Enter name" value="<%= user.name  %>" required />
            </div>
            <div class="mb-3">
              <label for="email">E-mail</label>
              <input type="text" name="email" class="form-control fomr-control-lg" placeholder="Enter email" value="<%= user.email %>" required />
            </div>
            <div class="mb-3">
              <label for="phone">Phone Number</label>
              <input type="tel" name="phone" class="form-control fomr-control-lg" placeholder="Enter Phone Number" value="<%= user.phone %>"required />
              <img src="/<%= user.image %>" width="100" class="img-thumnail mt-1">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Select Image</label>
              <input type="file" name="image" class="form-control fomr-control-lg" />
            </div>
            <input type="hidden" name="old_image" value="<%= user.image %>" />
            <div class="mb-3 d-grid">
              <input type="submit" name="submit" value="Add User" class="btn btn-success btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
